name: Run tests on pull requests

on: [pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: Run test suite

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          environments: tests

      - name: Run tests
        run: |
          pixi run test

      # https://github.com/codecov/codecov-action
      - name: Upload code coverage
        uses: codecov/codecov-action@v2
        with:
          # fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)


  # This helps us check that pyproject.toml's `project` table's `dependencies`
  # are defined completely.
  bare-install:
    runs-on: ubuntu-latest
    name: Run bare installation test

    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: Run import test
        run: python -c "import pandas_flavor; print('Import successful')"
