name: pandas-flavor tests

on: [pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: Run pandas-flavor test suite

    # https://github.com/marketplace/actions/setup-miniconda#use-a-default-shell
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # See: https://github.com/marketplace/actions/setup-miniconda
      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          environment-file: environment.yml
          miniforge-version: latest

      - name: Run unit tests
        run: |
          conda activate pandas-flavor
          python -m pip install -e .
          pytest

      # # https://github.com/codecov/codecov-action
      # - name: Upload code coverage
      #   uses: codecov/codecov-action@v2
      #   with:
      #     # fail_ci_if_error: true # optional (default = false)
      #     verbose: true # optional (default = false)
