name: pandas-flavor tests

on: [pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: Run pandas-flavor test suite

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          environments: tests

      - name: Run unit tests
        run: |
          pixi run test

      # https://github.com/codecov/codecov-action
      - name: Upload code coverage
        uses: codecov/codecov-action@v2
        with:
          # fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
